<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Pesquisar">Pesquisar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Listar">Listar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Atualizar">Atualizar</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-sm-2"
          type="search"
          placeholder="Search"
        />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="containerPesquisa">
<form>
  <fieldset>
    <div>
      <label for="exampleCnpj" class="form-label mt-4">Cnpj</label>
      <input
        type="text"
        class="form-control"
        id="exampleCnpj"
        placeholder="Cnpj"
      />
    </div>

    <button type="button" class="btn btn-primary disabled">Pesquisar</button>
    <button type="button" class="btn btn-primary disabled">Limpar</button>

    <div>
      <label for="exampleCorretora" class="form-label mt-4">Corretora</label>
      <input
        type="text"
        class="form-control"
        id="exampleCorretora"
        placeholder="Corretora"
      />
    </div>

    <div>
      <label for="exampleLogradouro" class="form-label mt-4">Logradouro</label>
      <input
        type="text"
        class="form-control"
        id="exampleLogradouro"
        placeholder="Logradouro"
      />
    </div>

    <div>
      <label for="exampleCep" class="form-label mt-4">Cep</label>
      <input
        type="text"
        class="form-control"
        id="exampleCep"
        placeholder="Cep"
      />
    </div>

    <div>
      <label for="exampleNomeSocial" class="form-label mt-4">Nome Social</label>
      <input
        type="text"
        class="form-control"
        id="exampleNomeSocial"
        placeholder="Nome Social"
      />
    </div>

    <div>
      <label for="exampleCnpj" class="form-label mt-4">Cnpj</label>
      <input type="text" class="form-control" id="exampleCnpj" placeholder="Cnpj"/>
    </div>
  </fieldset>
</form>
</div>
