<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Pesquisar">Pesquisar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Listar">Listar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Atualizar">Atualizar</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-sm-2"
          type="search"
          placeholder="Search"
        />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
        
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Cnpj</th>
      <th scope="col">Corretora</th>
      <th scope="col">Logradouro</th>
      <th scope="col">Cep</th>
      <th scope="col">Nome Social</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
  </tbody>
          </table>
