.containerListar{
    margin: auto;
    width: 50%;
    height: 780px;
    padding: 10px;
    background-image: url('../../../assets/imagens/5594016.jpg');
}



.containerFooter{
    padding-top: 62px;
    width: 1912px;
    background-color: #008CBA;
}
