<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Pesquisar">Pesquisar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Listar">Listar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Atualizar">Atualizar</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="containerAtualizar">

    <fieldset>
      <div>
        <label for="exampleCnpj" class="form-label mt-4">Cnpj</label>
        <input type="text" class="form-control" id="exampleCnpj" placeholder="Digite o Cnpj"  [(ngModel)]="corretoraSalvar.cnpj" />
      </div>

      <div class="containerButtonAtualizar">
        <button type="button" (click)="pesquisar()" class="button">
          Pesquisar
        </button>
        <button type="button" class="button">Limpar</button>
      </div>

      <div>
        <label for="exampleCorretora" class="form-label mt-4">Corretora</label>
        <input type="text" class="form-control"  placeholder="Corretora" [(ngModel)]="inputCorretora"  />
      </div>

      <div>
        <label for="exampleLogradouro" class="form-label mt-4">Logradouro</label>
        <input type="text" class="form-control"  placeholder="Logradouro" [(ngModel)]="inputLogradouro" />
      </div>

      <div>
        <label for="exampleCep" class="form-label mt-4">Cep</label>
        <input type="text" class="form-control"  placeholder="Cep"   [(ngModel)]="inputCep" />
      </div>

      <div>
        <label for="exampleNomeSocial" class="form-label mt-4">Nome Social</label>
        <input type="text" class="form-control"  placeholder="Nome Social" [(ngModel)]="inputnomeSocial" />
      </div>

      <div>
        <label for="exampleCnpj" class="form-label mt-4">Cnpj</label>
        <input type="text" class="form-control"  placeholder="Cnpj" [(ngModel)]="inputCnpj" />
      </div>
    </fieldset>


  <div class="containerButtonAtualizar">
    <button type="button" (click)="atualizar()" class="button">Atualizar Dados</button>
    <button type="button" class="button">Limpar Dados</button>
  </div>
</div>